
div.container{
	font-family: 'PauzaFOT-Light';
	background-color: #f8981d;
	height: 200px;
	width: 250px;
	padding: 15px;
	overflow: hidden;
	color: white;
	direction: rtl;
	border-radius: 15px;
}
div.container .bold {
	font-family: 'PauzaFOT-Bold';
}
.container div.text > h1 {
	color: white;
	text-align: right;
	margin: 0px;
	font-size: 32px;
}
.container .formTable {
	direction: rtl;
	width: 100%;
}
.container .formTable input {
	width: 100%;
	border-radius: 10px;
	border: solid 0px;
	padding: 2px;
}
.container .formTable input:focus {
	 outline: 0;
}

.container .label{
	font-size: 20px;
	font-weight: bold;
}
.container .send{
	width: 90px;
	position: relative;
	bottom: -8px;
	cursor: pointer;
}

.container #success {
	display: none;
	text-align: center;
}
.container #msg {
	float: right;
	margin-top: 5px;
}
.container .text{
	margin-top: -10px;
	margin-left: 30px;
}
.container .formCont{
	width: 120px;
	display: inline-block;
}
.container .logo {
	position: absolute;
	left: 20px;
}