div.container{
	font-family: 'PauzaFOT-Light';
	background-color: #f8981d;
	height: 200px;
	width: 300px;
	
	padding: 4px;
	overflow: hidden;
	color: white;
}
div.container .bold {
	font-family: 'PauzaFOT-Bold';
}
.container div.text > h1 {
	text-align: right;
	margin: 0px;
	font-size: 20px;
	margin-right: 80px;

}
.container .formTable {
	direction: rtl;
	width: 95%;
	margin-top: 17px;
}
.container .formTable input {
	width: 90%;
	border-radius: 10px;
	border: solid 0px;
	background-color: #cccccc;
}
.container .formTable input:focus {
	 outline: 0;
}
.container .formCont{
	width: 150px;
	display: inline-block;
}

.container .label{
	font-size: 20px;
	font-weight: bold;
}
.container .send{
	width: 100px;
	margin-bottom: 4px;
	cursor: pointer;
}
.container #loader {
	float: right;
	margin-top: 10px;
	display: none;
}
.container #success {
	display: none;
	text-align: center;
}

.container .inner {
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 10px;
	color: #4d4d4d;
	height: 190px;
	background-color: #f9f9f9;
	background-image: url("../img/man.png");
	background-repeat: no-repeat;
	background-position: right -50px;
	direction: rtl;
}
.container .logo {
	position: absolute;
	left: 20px;
}